#sidemenu {
	border: solid black 1px;
	background: #1C2954;
	list-style-type: none;
	padding: 10px;
}

.sidemenu-item {
	border-bottom: solid white 1px;
	font-size: 20px;
	padding: 10px auto;
}

.sidemenu-item a:hover {
	color: #A17E4A;
	text-decoration: none;
}

.sidemenu-item a {
	color: white;
}

.sidemenu-item a:visited {
	color: white;
	text-decoration: none;
}

.sidemenu_submenu {
	list-style-type: none;
}

	.sidemenu_submenu li {
		font-size: 16px;
	}
